header{
    background: no-repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

footer{
    background: none repeat scroll 0 0 darkcyan;
    color: antiquewhite;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

section{
    margin: 2%;
}

#tableListResume{
    margin: auto;
}

#addForm,#viewResume{
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

#tableListResume{
    align-content: start;
 }

#statusDescription{
    font-size: large;
}




dl{
    #background: no-repeat scroll 0 0 #FFFFFF;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}

dt{
    display: inline-block;
    width: 170px;
}

dd{
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

div.inputExpEdu{
    margin-top: 15px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px 10px;

}